Source: python-troveclient
Section: python
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-pbr,
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: python-babel,
                     python-coverage,
                     python-hacking,
                     python-httplib2,
                     python-keystoneclient (>= 1:1.1.0),
                     python-mock,
                     python-oslo.utils (>= 1.2.0),
                     python-oslosphinx (>= 2.2.0.0),
                     python-prettytable,
                     python-requests,
                     python-requests-mock (>= 0.5.1),
                     python-simplejson,
                     python-six (>= 1.9.0),
                     python-testtools,
                     subunit,
                     testrepository,
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-troveclient.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/python-troveclient.git
Homepage: http://www.openstack.org

Package: python-troveclient
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~),
Depends: python-babel,
         python-keystoneclient (>= 1:1.1.0),
         python-oslo.utils (>= 1.2.0),
         python-pbr,
         python-prettytable,
         python-requests,
         python-simplejson,
         python-six (>= 1.9.0),
         ${misc:Depends},
         ${python:Depends},
Description: Client for OpenStack Database as a Service
 Trove is Database as a Service for OpenStack. It's designed to run entirely on
 OpenStack, with the goal of allowing users to quickly and easily utilize the
 features of a relational database without the burden of handling complex
 administrative tasks. Cloud users and database administrators can provision
 and manage multiple database instances as needed.
